<div class="mx-auto md:w-2/3 w-full">
  <h2 class="">Editing Vehicle</h1>


  <%= render "form_edit", car: @car %>

   <%# link_to "Show this car", @car, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
   <div class="nav-cstm"><%= link_to 'Back to cars', cars_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></div>
   </div>
