<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing car compare</h1>

  <%= render "formedit", car_compare: @car_compare %>

  <%= link_to "Back to car compares",  car_car_compares_path(params['car_id']), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
